<div class="auth-forms">
  <div class="login-form">
    <% if(messages.error){ %>
    <p class="msg"><%= messages.error %></p>
    <% } %> <% if(errors.length > 0){ %> <% errors.forEach(error => { %>
    <p class="msg"><%= error.msg %></p>
    <% }) %> <% } %> <% if(messages.success_msg){ %>
    <p class="msg"><%= messages.success_msg %></p>
    <% } %>
    <h2 class="login-title">I already have an account.</h2>
    <p class="login-subtitle">Login with your email and password.</p>
    <form action="/auth/login" method="post">
      <label class="label" for="login-email">Email:</label>
      <input
        class="input"
        type="email"
        name="email"
        id="login-email"
        required
      />
      <label class="label" for="login-password">Password:</label>
      <input
        class="input"
        type="password"
        name="password"
        id="login-password"
        required
      />
      <button class="btn" type="submit">Login</button>
    </form>
  </div>

  <div class="register-form">
    <% if(errors.length > 0) { %> <% errors.forEach((error) => { %>
    <p class="msg"><%= error.msg %></p>
    <% }) %> <% } %>
    <h2 class="register-title">I don't have an account.</h2>
    <p class="register-subtitle">Register with your email and password.</p>
    <form action="/user/register" method="post">
      <label class="label" for="name">Name:</label>
      <input class="input" type="text" name="name" id="name" required />
      <label class="label" for="register-email">Email:</label>
      <input
        class="input"
        type="email"
        name="email"
        id="register-email"
        required
      />
      <label class="label" for="register-password">Password:</label>
      <input
        class="input"
        type="password"
        name="password"
        id="register-password"
        required
      />
      <button class="btn" type="submit">Register</button>
    </form>
  </div>
</div>
