<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-color">
  <a class="navbar-brand nvbr-brnd" href="/">Daily Tech Journal</a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#topnav"
    type="button"
    name="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topnav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nv-link" href="/blogs/create">New post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nv-link" href="/about">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nv-link" href="/contact">Contact me</a>
      </li>
    </ul>
  </div>
</nav>
