<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <!-- Bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Ubuntu&amp;display=swap"
      rel="stylesheet"
    />
    <!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Daily tech journal</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-color">
      <a class="navbar-brand nvbr-brnd" href="/">Daily Tech Journal</a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#topnav"
        type="button"
        name="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topnav">
        <ul class="navbar-nav ml-auto">
          <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/blogs/create">New post</a>
          </li>
          <% } %> <% if(!user) { %>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/user/register">Register</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/contact">Contact me</a>
          </li>
          <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link nv-link" href="/auth/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <%- body %>

    <footer>
      <p>&copy; 2019 Made By Mohd. Khizar Hashmi</p>
    </footer>

    <!-- Fontawesome link -->
    <script
      src="https://kit.fontawesome.com/e1c7949b1f.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap links -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
