<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Daily tech journal || <%= title %></title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a class="brand-name" href="/">Daily Tech Journal</a>
        <ul class="nav-links">
          <li class="nav-item">
            <a class="nav-link
              <% if(title === "Home") { %>
                active
              <% } %>   
            " href="/">Home</a>
          </li>
          <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link
              <% if(title === "Create blog") { %>
                active
              <% } %>  
            " href="/blogs/create">New post</a>
          </li>
          <% } %> <% if(!user) { %>
          <li class="nav-item">
            <a class="nav-link
              <% if(title === "Login and register") { %>
                active
              <% } %>  
            " href="/auth/login">Login/Register</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link
              <% if(title === "About") { %>
                active
              <% } %>  
            " href="/about">About me</a>
          </li>
          <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item user-name"><%= user.name %>
          </li>
          <% } %>
        </ul>
        <button class="menu-btn">Menu</button>
      </nav>
    </header>

    <main class="main-container"><%- body %></main>

    <footer class="footer">
      <p class="footer-text">&copy; copyright 2020 Daily tech journal</p>
    </footer>

    <!-- Fontawesome link -->
    <script
      src="https://kit.fontawesome.com/e1c7949b1f.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const menuBtn = document.querySelector(".menu-btn");
      const navLinks = document.querySelector(".nav-links");

      menuBtn.addEventListener("click", () => {
        navLinks.classList.toggle("nav-active");
      })
    </script>
  </body>
</html>
