<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="container-fluid">
      <h1 class="title">Oops! Page not found &#9889;.</h1>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
