<%- include("partials/header") -%>
<h1>Contact Me</h1>
<p><%= contactContent %></p>
<a href="mailto:khizarhashmi119@gmail.com?subject=feedback"><button class="btn btn-dark" type="button" name="button"><i class="fas fa-envelope"></i> Contact Me</button></a>
<%- include("partials/footer") -%>
