<%- include("../partials/nav") %>
<div class="container-fluid">
  <h1>About Me</h1>
  <p>
    Hello. My name is Mohd. Khizar Hashmi. and this is my personal blog. if you
    are interested in tech news and updates, then visit my website daily.
  </p>
</div>
