<div class="container-fluid">
  <h1>Contact Me</h1>
  <p>
    If you want to contact me and want to give any feedback then you can email
    me
  </p>
  <a href="mailto:khizarhashmi119@gmail.com?subject=feedback"
    ><button class="btn btn-dark" type="button" name="button">
      <i class="fas fa-envelope"></i> Contact Me
    </button></a
  >
</div>
