<div class="container-fluid">
  <h1>Create blog.</h1>
  <form action="/blogs/create" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        name="title"
        id="title"
        required
        autofocus
      />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea
        class="form-control"
        name="content"
        rows="5"
        cols="30"
        id="content"
        placeholder="Write your post here"
        required
      ></textarea>
    </div>
    <button class="btn btn-lg btn-dark" type="submit">Publish</button>
  </form>
</div>
