<div class="create-form">
  <h1 class="create-blog-title">Create blog.</h1>
  <% if(errors.length > 0) { %> <% errors.forEach((error) => { %>
  <p><%= error.msg %></p>
  <% }) %> <% } %>
  <form action="/blogs/create" method="post">
    <label class="label" for="title">Title:</label>
    <input
      class="input"
      type="text"
      name="title"
      id="title"
      required
      autofocus
    />
    <label class="label" for="content">Content:</label>
    <textarea
      class="textarea"
      name="content"
      rows="10"
      id="content"
      placeholder="Write your post here"
      required
    ></textarea>
    <button class="btn" type="submit">Publish</button>
  </form>
</div>
