<div class="update-form">
  <h1 class="update-blog-title">Edit blog.</h1>
  <form action="/blogs/update/<%= blog._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input
      class="input"
      type="text"
      id="title"
      name="title"
      value="<%= blog.title %>"
      required
      autofocus
    />
    <label for="content">Content:</label>
    <textarea
      class="textarea"
      rows="10"
      id="content"
      name="content"
      required
      placeholder="Write your post here"
    >
<%= blog.content %></textarea
    >
    <button class="btn" type="submit">Update</button>
  </form>
</div>
